<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="org.jira.jira_api.OAuth"/>
      <class name="org.jira.jira_api.LoginAPITesting"/>
      <class name="org.jira.jira_api.Basic6"/>
      <class name="org.jira.jira_api.Basic7"/>
      <class name="org.jira.jira_api.Basic8"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
